<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../assets/partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../assets/partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>The Henry Bot</h1>
        <p>It doesn't really do anything right now but cool features will be coming soon.</p>
    </div>
</main>

<footer>
    <%- include('../assets/partials/footer'); %>
</footer>

</body>
</html>