<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../assets/partials/head'); %>
    <meta name="description" content="Henry Bot Dashboard">
</head>
<body class="container">

<header>
    <%- include('../assets/partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>The Henry Bot</h1>
        <p>
          Henry bot is currently in development/beta.<br>
          If you don't see an invite link right now, it is still in major testing and not done yet. <br>
        </p>
    </div>
</main>

<footer>
    <%- include('../assets/partials/footer'); %>
</footer>

</body>
</html>